<%= render "shared/page_title", title: "All chefs" %>

<%= will_paginate %>

<% @chefs.each do |chef| %>

<div class = "row center">

    <div class = "col-lg-4 col-lg-offset-4">
        <h4><%= link_to chef.chefname, chef_path(chef) %></h4>
        <p class="quiet">Add chef image here</p>
    </div>

</div>
<% end %>
<%= will_paginate %>