<div class="jumbotron center">
  <h1>Responsive Tibbidy Swiggidy</h1>
  <p>Get started now</p>
  <%= link_to "Learn More", "", class: "btn btn-primary" %>
  
  
</div>

<div class="row">
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption center">
        <h3>Wanna see something?</h3>
        <p>Click here to see it</p>
        <%= link_to "Woah", "", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption center">
        <h3>Wanna see something?</h3>
        <p>Click here to see it</p>
        <%= link_to "Woah", "", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption center">
        <h3>Wanna see something?</h3>
        <p>Click here to see it</p>
        <%= link_to "Woah", "", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  
</div>